@import "tamanos_fuentes";

@keyframes animacion_logo{
    0% {
      apacity:0;
    }
    100% {
      opacity: 1;
    }
  
  }

#logo_pmasd {
    animation-duration: 2s;
    animation-name: animacion_logo;
}  
#logo_pmasd {
    float: left;
    width: $ancho_logo_pmasd;
    height:$alto_logo_pmasd;
    left: 15px;
    top: 0px;
    animation-duration: 2s;
    animation-name: animacion_logo;
  
}

#Logo{
    height: $alto_logo_pmasd;
    width: $ancho_logo_pmasd;
    border-style: solid;
}

.logoChico{
    height: $logo_chico;
    width: $logo_chico;
    padding: 5px;
    border-radius: 12px;
    
     
}
 
.logoChico:hover {
    height: 110px; width: 110px;
    padding: 5px;
    background-color: white;
 }
  
#logo_profesoft{
  float: left;
  width: $ancho_logo_profesoft;
  height: $alto_logo_profesoft;
  top: 10px;  
  left: 15px;
  top: 0rem;
    
} 