@import "colores";
@import "tamanos_fuentes";

.menu__boton-principal{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.menu__boton-principal:hover{
    color: $color_titulo;
    text-decoration: none
}    


.menu_activo{
    color:$color_titulo;
}
.div_menu{
    padding-top: 15px;
    padding-bottom: 30px;
    
}
.menu_secundario{
    background-color: $color_titulo;
    color: $color_fondo;
    font-size:$letra_mediana*.6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.menu_secundario:hover{
    background-color: $azul;
    color: $color_fondo;
    text-decoration: none
}


  #boton_menu{
    display: block;
    margin: 0;  
    width: $ancho_boton_menu;
    height: $alto_boton_menu;
  }