@import "tamanos_fuentes";
@media screen and (max-width: 639px) {
    
    .titulo_pagina{
        font-size: $letra_grande/2;
    }
    .titulo_seccion {
        font-size: $letra_mediana*.7;
    }

    #logo_profesoft_carousel{
        width: $ancho_logo_profesoft_carousel*.2;
        height: $alto_logo_profesoft_carousel*.2;
        text-align: center;
    }
    .titulo_carousel{
        font-size: $letra_chica;

    }

    .logoChico{
        width: $logo_chico*.6;
        height: $logo_chico*.6;
    }
    #menu_secundario{
        text-align: center;
    }
    .parrafo{
        font-size: $letra_chica;
    }
    #div_profesoft_carousel{
        height: 100px; 
        width: 100px;
        
       }    
   #titulo_carousel{
    font-size: $letra_chica;
    text-align: center;
   }
          
   
  }