$letra_grande:3rem;
$letra_mediana:2rem;
$letra_chica:1rem;
$ancho_logo_pmasd:160px;
$alto_logo_pmasd:80px;
$logo_chico:100px;
$ancho_logo_profesoft_carousel:140px;
$alto_logo_profesoft_carousel:70px;
$alto_boton_menu:30px;
$ancho_boton_menu:30px;