 @import "colores";
 @import "tamanos_fuentes";
.font_style {
    font-style: italic;
    color: red;
  }
  
  .font_weight {
    font-weight: lighter;
  }
  
  .text_transformation {
    text-transform: initial;
  }
  
  .line_height {
    line-height: 50px;
  }
  
  .text_decoration {
    -webkit-text-decoration: maroon;
            text-decoration: maroon;
  }
  
  .leter_spacing {
    letter-spacing: 25px;
  }
  
  .word_spacing {
    word-spacing: 30px;
  }
  
  .font_google {
    font-family: 'Mukta', Arial;
  }
  
  .font_azul {
    color: $azul;
  }
  
  .font_bordo {
    color: $color_titulo;
  }
  
  .letra_mediana {
    font-size: $letra_mediana;
    text-align: justify;
  }

  .parrafo{
    font-size: $letra_mediana;
  }